
<h3>Enter the Information for the Food Below</h3>

<form class="form auth-form" id="add-new-food-to-database-form">
  <div class="form-group">
    <input type="string"  name="desc" class="form-control" id="create-food-description" placeholder="Description">
  </div>
  <div class="form-group">
    <input type="integer" name="calories" class="form-control" id="create-food-calories" placeholder="Calories">
  </div>
  <div class="form-group">
    <input type="integer" name="grams_per_serving" class="form-control" id="create-food-grams" placeholder="Grams per serving">
  </div>
  <div class="form-group">
    <input type="float" name="fat_sat" class="form-control" id="create-food-sat" placeholder="Saturated Fat">
  </div>
  <div class="form-group">
    <input type="float" name="fat_mono" class="form-control" id="create-food-mono" placeholder="Monosaturated Fat">
  </div>
  <div class="form-group">
    <input type="float" name="fat_poly" class="form-control" id="create-food-poly" placeholder="Polysaturated Fat">
  </div>
  <div class="form-group">
    <input type="float" name="carbs" class="form-control" id="create-food-carbs" placeholder="Carbohydrates">
  </div>
  <div class="form-group">
    <input type="float" name="sugar" class="form-control" id="create-food-sugar" placeholder="Sugar">
  </div>
  <div class="form-group">
    <input type="float" name="protein" class="form-control" id="create-food-protein" placeholder="Protein">
  </div>
  <div class="form-group">
    <input type="float" name="fiber" class="form-control" id="create-food-fiber" placeholder="Fiber">
  </div>
  <div class="form-group">
    <input type="integer" name="sodium" class="form-control" id="create-food-sodium" placeholder="Sodium">
  </div>
  <div class="form-group">
    <input type="integer" name="choles" class="form-control" id="create-food-choles" placeholder="Cholesterol">
  </div>
  <button type="submit" class="btn btn-primary" id="ajax-create-food-btn">Add Food to the Database</button>
</form>
