<form class="form auth-form" id="sign-in-form">
  <legend>Enter Your Log-in Info Below!</legend>
  <div class="form-group">
    <input type="email" class="form-control" name="credentials[email]"id="exampleInputEmail3" placeholder="Enter email">
  </div>
  <div class="form-group">
    <input type="password" class="form-control" name="credentials[password]" id="exampleInputPassword3" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary">Sign in</button>
</form>
